/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@font-face {
    font-family: primary;
    src: url(assets/font/TCM_____.TTF);
}
@font-face {
    font-family: text;
    src: url(assets/font/Raleway-Light.ttf);
}
*{
    font-family: primary;
}
p{
    font-family: text;
}
body{
    font-family: primary;
    margin: 0;
    padding: 0;
    background: black;
}
